<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Deteksi Bakteri Ispa</title>
    <link rel="shortcut icon" href="/static/POLIJE TRANSPARAN.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.1.1/flowbite.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="css/mulai.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="px-2 sm:px-4">
    {% include 'components/navbar.html' %}
    <div class="flex flex-col max-w-screen-lg mx-auto">
        <div class="flex flex-col items-center justify-center mt-4 sm:mt-12 max-w-screen-lg mx-auto">
            <div class="flex flex-col items-center justify-between">
                <h1 class="font-bold max-w-xl mb-5 text-center text-xl sm:text-2xl">Deteksi Bakteri ISPA: Unggah Gambar
                    Anda</h1>
                <p class="text-center px-4 sm:px-28">Upload gambar bakteri Yang Anda Miliki untuk mengetahui jenis
                    bakteri yang
                    menjadi penyebab infeksi saluran pernapasan akut (ISPA).</p>
            </div>
        </div>
        <form method="POST" enctype="multipart/form-data" class="flex flex-col justify-center" id="upload-form">
            <div
                class="mt-2 flex justify-center rounded-lg border border-dashed border-gray-900/25 mx-4 sm:mx-44 py-10 sm:py-20">
                <div class="text-center">
                    <svg id="icon" class="mx-auto h-12 w-12 text-gray-300" viewBox="0 0 24 24" fill="currentColor"
                        aria-hidden="true">
                        <path fill-rule="evenodd"
                            d="M1.5 6a2.25 2.25 0 012.25-2.25h16.5A2.25 2.25 0 0122.5 6v12a2.25 2.25 0 01-2.25 2.25H3.75A2.25 2.25 0 011.5 18V6zM3 16.06V18c0 .414.336.75.75.75h16.5A.75.75 0 0021 18v-1.94l-2.69-2.689a1.5 1.5 0 00-2.12 0l-.88.879.97.97a.75.75 0 11-1.06 1.06l-5.16-5.159a1.5 1.5 0 00-2.12 0L3 16.061zm10.125-7.81a1.125 1.125 0 112.25 0 1.125 1.125 0 01-2.25 0z"
                            clip-rule="evenodd" />
                    </svg>
                    <img id="preview-image" class="hidden mx-auto h-32 w-32 rounded-lg" />
                    <div class="mt-4 flex text-sm leading-6 text-gray-600">
                        <label id="upload-label" for="file-upload"
                            class="relative cursor-pointer rounded-md bg-white font-semibold text-[#7fccf1] focus-within:outline-none focus-within:ring-2 focus-within:ring-[#7fccf1] focus-within:ring-offset-2 hover:text-[#1f9ed8]">
                            <span>Pilih Gambar Bakteri</span>
                            <input id="file-upload" name="file" type="file" class="sr-only" accept=".png, .jpg, .jpeg"
                                onchange="previewFile()" />
                        </label>
                    </div>
                </div>
            </div>

            <div class="flex justify-center mt-4 mb-12 sm:mb-24">
                <button id="submit-button" type="submit" disabled
                    class="bg-[#7fccf1] hover:bg-[#1f9ed8] rounded text-white w-full sm:w-8/12 p-2 font-semibold cursor-not-allowed">
                    <span id="button-text">Kirim</span>
                </button>
            </div>
        </form>

        {% if result %}
        <h1 class="font-bold mb-5 flex justify-center text-xl sm:text-2xl">Hasil Klasifikasi</h1>
        <div class="flex flex-col sm:flex-row justify-center py-5 space-y-6 sm:space-y-0 sm:space-x-10">
            <div class="text-center flex flex-col items-center">
                <h1 class="text-sm sm:text-md mb-5 font-semibold">
                    Contoh Dari Bakteri <br />
                    {{ result }}
                </h1>
                {% if 'Streptococcus Pneumoniae' in result %}
                <img width="250" src="/static/sp_1.jpg" alt="Bakteri" />
                {% elif 'Corynebacterium Diphteriae' in result %}
                <img width="250" src="/static/D5.jpg" alt="Bakteri" />
                {% elif 'Mycobacterium Tuberculosis' in result %}
                <img width="250" src="/static/mts1.jpg" alt="Bakteri" />
                {% elif 'Neisseria Gonorroeae' in result %}
                <img width="250" src="/static/go_3.jpg" alt="Bakteri" />
                {% elif 'Staphylococcus Aureus' in result %}
                <img width="250" src="/static/sa_1.jpg" alt="Bakteri" />
                {% endif %}
            </div>
            <div class="text-center flex flex-col items-center">
                <h1 class="text-sm sm:text-md mb-5 font-semibold">
                    Gambar Yang<br />
                    Diunggah User
                </h1>
                <img width="250" class="w-48 sm:w-64"
                    src="{{ url_for('static', filename='uploads/' + uploaded_image) }}" alt="Bakteri" />
            </div>
        </div>
        <div class="flex flex-col justify-center text-center py-6 sm:py-10 space-y-15 mx-4 sm:mx-36 mb-12 sm:mb-24">
            <h1 class="pb-4">Setelah melalui proses dengan model Convolutional Neural network (CNN) arsitektur
                inceptionResNet-V2, Gambar tersebut terindentifikasi sebagai:</h1>

            <p class="font-semibold">
                {{ resultwithconfident }}
            </p>

            <div class="mt-8">
                <table class="min-w-full border-collapse border border-gray-300">
                    <thead>
                        <tr>
                            <th class="border border-gray-300 px-4 py-2">Jenis Bakteri</th>
                            <th class="border border-gray-300 px-4 py-2">Persentase</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for bacteria, percentage in percentages %}
                        <tr>
                            <td class="border border-gray-300 px-4 py-2">{{ bacteria }}</td>
                            <td class="border border-gray-300 px-4 py-2">{{ "%.2f"|format(percentage*100) }}%</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endif %}

        <div class="mb-24 sm:mb-44 mx-4 sm:mx-28">
            <h2 class="text-lg sm:text-xl font-bold text-gray-800 pb-2">Panduan Penggunaan Sistem Klasifikasi Gambar
                Bakteri</h2>
            <div class="flex items-start space-x-2">
                <span class="">1.</span>
                <p class="text-gray-600">
                    Klik <span class="font-semibold text-[#7fccf1]">“Pilih Gambar Bakteri”</span> untuk mengirimkan file
                    gambar yang
                    akan diklasifikasikan.
                </p>
            </div>
            <div class="flex items-start space-x-2">
                <span class="">2.</span>
                <p class="text-gray-600">
                    Setelah itu, klik tombol <span class="font-semibold text-[#7fccf1]">“Kirim”</span> untuk memproses
                    gambar
                    yang akan diklasifikasikan.
                </p>
            </div>
            <div class="flex items-start space-x-2">
                <span class="">3.</span>
                <p class="text-gray-600">
                    Tunggu hingga proses selesai, dan hasil klasifikasi gambar bakteri akan ditampilkan.
                </p>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.1.1/flowbite.min.js">
    </script>

    <script>
        function previewFile() {
            const fileInput = document.getElementById('file-upload');
            const submitButton = document.getElementById('submit-button');
            const preview = document.getElementById('preview-image');
            const icon = document.getElementById('icon');
            const file = fileInput.files[0];
            const reader = new FileReader();

            const uploadLabel = document.getElementById('upload-label');
            const fileHint = document.getElementById('file-hint');

            reader.addEventListener('load', function () {
                preview.src = reader.result;
                preview.classList.remove('hidden');
                icon.classList.add('hidden');

                uploadLabel.classList.add('hidden');
                fileHint.classList.add('hidden');
            }, false);

            if (file) {
                reader.readAsDataURL(file);
                submitButton.disabled = false;
                submitButton.classList.remove('cursor-not-allowed');
            } else {
                submitButton.disabled = true;
                submitButton.classList.add('cursor-not-allowed');
            }
        }

        document.getElementById('upload-form').addEventListener('submit', function (e) {
            const button = document.getElementById('submit-button');
            const buttonText = document.getElementById('button-text');
            button.disabled = true;
            button.classList.add('cursor-not-allowed');
            buttonText.textContent = 'Menunggu...';
        });
    </script>
</body>

</html>
```