<!-- home.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Deteksi Bakteri Ispa</title>
    <link rel="shortcut icon" href="/static/POLIJE-TRANSPARAN.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.1.1/flowbite.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        h1 {
            font-family: 'Lexend Deca', sans-serif;
            font-weight: 700;
        }

        .hidden {
            display: none;
        }

        video {
            width: 100%;
            height: 800px;
            object-fit: cover;
        }

        .active-btn {
            background-color: white;
            color: #898989 !important;
            font-weight: 600;
            border-start-start-radius: 0.375rem;
            border-start-end-radius: 0.375rem;
            box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
        }

        .loadingScreen {
            position: absolute;
            z-index: 5;
            width: 100%;
            height: 100vh;
            background-color: black;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1em;
            transition: 2s ease;
            cursor: progress;
        }

        .wrapper:hover {
            transform: scale(1.2);
        }

        .text {
            color: white;
            font-weight: 800;
        }

        .dot {
            background: white;
            height: 0.65em;
            width: 0.65em;
            border-radius: 50%;
            animation: move 0.6s ease infinite;
        }

        @keyframes move {
            0% {
                transform: translateX(50%);
            }

            50% {
                transform: translateX(-50%);
            }

            100% {
                transform: translateX(50%);
            }
        }
    </style>
</head>

<body class="bg-white">
    <div class="loadingScreen">
        <div class="wrapper">
            <div class="dot"></div>
            <span class="text">Loading</span>
        </div>
    </div>
    <div class="px-4">

        {% include 'components/navbar.html' %}

        <div class="flex flex-col max-w-screen-md mx-auto px-4 md:px-16">
            <div class="flex flex-col items-center justify-start mt-4 max-w-screen-md">
                <h1 class="font-bold mb-10 text-start text-2xl">Bakteri Penyebab Infeksi Saluran Pernapasan Akut (ISPA)
                    Yang
                    Digunakan untuk Model Pelatihan Pada Project
                </h1>
            </div>

            <div class="flex items-center space-x-4 mb-7">
                <img class="w-12 h-12 rounded-full" src="/static/pp.jpg" alt="Profile Picture">
                <div class="leading-tight">
                    <p class="font-bold text-sm">Abdullah Ali</p>
                    <p class="text-gray-500 text-sm">Penulis - 17 Agustus 2024</p>
                </div>
            </div>

            <div>
                <img class="w-full rounded-xl" src="/static/pexels-photo-9007761.jpeg" alt="Image">
                <p class="text-sm justify-center text-center mt-4">Foto oleh <a
                        href="https://www.pexels.com/photo/microscope-shot-9007761/" class="underline"
                        target="_blank">Turek</a> di <a href="https://www.pexels.com/" class="underline"
                        target="_blank">Pexels</a></p>
            </div>

            <div class="items-start justify-start mt-6 max-w-screen-md ">
                <p class="mb-5 text-justify">Infeksi Saluran Pernapasan Akut (ISPA) merupakan
                    penyakit yang sering terjadi di masyarakat dan dianggap normal atau tidak berbahaya. penyakit
                    saluran pernapasan atas atau bawah yang sering terjadi di masyarakat. ISPA dapat menimbulkan
                    berbagai spektrum penyakit dari ringan hingga parah dan mematikan, tergantung pada patogen dan
                    faktor lingkungan serta faktor pejamu (Suarnianti & Kadrianti, 2019). ISPA merupakan penyebab utama
                    morbiditas dan mortalitas global, dengan angka kematian mencapai 4,25 juta setiap tahun. (World
                    Health Organization, 2019). ISPA memiliki banyak jenis dan dapat disebabkan oleh infeksi virus
                    maupun bakteri. Dalam penelitian ini, penulis akan fokus pada klasifikasi bakteri Mycobacterium
                    tuberculosis, Corynebacterium diphteriae, Neisseria gonorrhoeae, Staphylococcus aureus, dan
                    Streptococcus pneumoniae.
                </p>
            </div>

            <p class="font-bold">1. Mycobacterium tuberculosis</p>
            <div class="ml-4">
                <p class="mb-5 text-justify text-sm md:text-base">Tuberkulosis merupakan penyakit infeksi menular yang
                    disebabkan oleh agen infeksi bakteri Mycobacterium tuberculosis yang umumnya menyerang organ paru
                    pada manusia. Penyakit ini ditularkan oleh penderita BTA positif yang menyebar melalui droplet
                    nuclei
                    yang keluar saat penderita batuk ataupun bersin. Bakteri yang menyebar di udara dapat dihirup oleh
                    orang sehat sehingga dapat menyebabkan infeksi. M. tuberculosis merupakan bakteri Gram positif yang
                    bersifat aerob obligat (bakteri yang mutlak memerlukan oksigen bebas dalam hidupnya), tidak
                    mempunyai
                    endospora dan kapsul, tidak motil, tahan terhadap asam, tumbuh pada suhu 37℃ dengan pertumbuhan yang
                    lambat yaitu 2-60 hari. Genus bakteri ini mempunyai karakteristik yang unik karena memiliki dinding
                    sel yang kaya akan lipid dan lapisan tebal peptidoglikan yang mengandung asam mikolat,
                    arabinogalaktan, dan lipoarabinomanan. (Mar’Iyah, 2021)
                </p>
                <div class="flex justify-center">
                    <img class="w-3/4 rounded-xl" src="/static/5789_lores.jpg" alt="Image">
                </div>
                <p class="text-sm text-center mt-4 mb-12">Foto oleh <a href="https://phil.cdc.gov/details.aspx?pid=5789"
                        class="underline" target="_blank">CDC/
                        Dr. George P. Kubica</a> di <a href="https://phil.cdc.gov/default.aspx" class="underline"
                        target="_blank">Public Health Image Library (PHIL)</a>
                </p>
            </div>

            <p class="font-bold">2. Corynebacterium diphteriae</p>
            <div class="ml-4">
                <p class="mb-5 text-justify text-sm md:text-base">Corynebacterium diphtheriae merupakan bakteri Gram
                    positif
                    berbentuk basil dan bersifat aerob. Bakteri ini umumnya hanya mengakibatkan infeksi pada saluran
                    pernapasan atas (upper respiratory tract). Selain itu, C. diphtheriae juga terkadang dapat
                    mengakibatkan
                    infeksi pada lambung, paru-paru, membran kulit dan organ lainnya. Terdapat empat subspesies
                    (biotype)
                    difteri, yaitu: C. d. mitis, C. d. intermedius, C. d. gravis, and C. d. belfanti. Keempat subspesies
                    ini
                    dapat dibedakan dengan beberapa cara seperti ukuran koloni pada media padat, karakteristik
                    pertumbuhan
                    di media cair dan kemampuan memfermentasi pati dan keparahan penyakit yang dihasilkan. (Tjengal
                    dkk.,
                    2019)
                </p>
                <div class="flex justify-center">
                    <img class="w-3/4 rounded-xl" src="/static/7323_lores.jpg" alt="Image">
                </div>
                <p class="text-sm text-center mt-4 mb-12">Foto oleh <a href="https://phil.cdc.gov/details.aspx?pid=7323"
                        class="underline" target="_blank">CDC/
                        Dr. P.B. Smith</a> di <a href="https://phil.cdc.gov/default.aspx" class="underline"
                        target="_blank">Public Health Image Library (PHIL)</a>
                </p>
            </div>

            <p class="font-bold">3. Pharyngitis</p>
            <div class="ml-4">
                <p class="mb-5 text-justify text-sm md:text-base">Faringitis adalah infeksi atau peradangan di daerah
                    faring (tenggorokan), yang menghubungkan hidung dan mulut ke paru-paru. Termasuk dalam penyakit
                    infeksi saluran pernapasan akut (ISPA), faringitis sering muncul pada musim dingin atau hujan dan
                    menular melalui sekret pernapasan dengan masa inkubasi 2-5 hari. Penyebabnya bisa berupa bakteri dan
                    virus, di mana virus menyebabkan sebagian besar kasus. Gejala faringitis meliputi sakit tenggorok,
                    demam, limfadenitis, mual, dan kelelahan. Faringitis virus biasanya ringan dan bisa sembuh sendiri,
                    sementara faringitis bakteri lebih parah dengan demam tinggi dan odinofagia berat. Meskipun
                    faringitis sering sembuh dengan sendirinya, komplikasi seperti demam rematik atau peradangan ginjal
                    dapat terjadi jika gejala berlangsung lebih dari seminggu (Muliawan H. & Yuliyani, 2023).
                </p>
                <div class="flex justify-center">
                    <img class="w-3/4 rounded-xl" src="/static/Gonococcal_urethritis_PHIL_4085_lores.jpg" alt="Image">
                </div>
                <p class="text-sm text-center mt-4 mb-12">Foto oleh <a
                        href="https://commons.wikimedia.org/wiki/File:Gonococcal_urethritis_PHIL_4085_lores.jpg"
                        class="underline" target="_blank">CDC/ Joe Millar</a> di <a
                        href="https://commons.wikimedia.org/wiki/Main_Page" class="underline"
                        target="_blank">Wikimedia</a>
                </p>
            </div>

            <p class="font-bold">4. Staphylococcus aureus</p>
            <div class="ml-4">
                <p class="mb-5 text-justify text-sm md:text-base">Staphylococcus aureus merupakan bakteri Gram positif
                    berbentuk bulat dengan diameter 0,7-1,2 μm, berkelompok tidak teratur seperti buah anggur, tidak
                    membetuk spora, fakultatif anaerob, dan tidak bergerak. Suhu optimum untuk pertumbuhannya adalah
                    37oC, namun pada suhu kamar (20oC - 25ºC) akan membentuk pigmen. Warna pigmen yang terbentuk mulai
                    dari abu-abu hingga kuning keemasan dengan koloni berbentuk bundar, halus, menonjol, dan berkilau.
                    aureus merupakan salah satu penyebab meningkatnya jumlah penyakit dan kematian. Pada hidung dan
                    kulit manusia, terdapat bakteri yang berkolonisasi sehingga dapat menyebabkan beberapa penyakit
                    seperti infeksi kulit, endokarditis, bakteremia, pneumonia, meningitis, osteomyelitis, sepsis dan
                    toxic shock syndrome (Rianti dkk., 2022)
                </p>
                <div class="flex justify-center">
                    <img class="w-3/4 rounded-xl" src="/static/Staphylococcus_aureus_Gram.jpg" alt="Image">
                </div>
                <p class="text-sm text-center mt-4 mb-12">Foto oleh <a
                        href="https://commons.wikimedia.org/wiki/File:Staphylococcus_aureus_Gram.jpg" class="underline"
                        target="_blank">Y Tambe</a> di <a href="https://commons.wikimedia.org/wiki/Main_Page"
                        class="underline" target="_blank">Wikimedia</a>
                </p>
            </div>

            <p class="font-bold">5. Streptococcus pneumoniae</p>
            <div class="ml-4">
                <p class="mb-5 text-justify text-sm md:text-base">Bakteri Streptococcus pneumoniae, merupakan bakteri
                    flora normal Gram positif namun dapat menjadi bakteri pathogen penyebab pneumonia apabila sistem
                    kekebalan tubuh menurun. Gejala pneumonia adalah sakit kepala, demam, menggigil, mengeluarkan dahak,
                    batuk, dan sesak napas. Anak-anak usia kurang dari 2 tahun, usia lanjut dan malnutrisi serta
                    gangguan imunologi merupakan populasi yang rentan terserang pneumonia. Pneumonia dapat terjadi pada
                    orang normal tanpa adanya kelainan daya tahan tubuh. Namun ditemukan satu atau lebih penyakit dasar
                    yang mengganggu sistem kekebalan tubuh pada kebanyakan pasien dewasa yang menderita pneumonia.
                    Pneumonia sering dijumpai pada lansia dan penyakit paru obstruksi kronik. Infeksi yang ditimbulkan
                    oleh S. pneumoniae disebabkan karena adanya interaksi faktor virulensi terhadap sel inang berupa
                    protein hasil sekresi S. pneumoniae yang dapat menyebabkan lisis pada sel inang. (Muthmainnah dkk.,
                    2020)
                </p>
                <div class="flex justify-center">
                    <img class="w-3/4 rounded-xl" src="/static/21340_lores.jpg" alt="Image">
                </div>
                <p class="text-sm text-center mt-4 mb-12">Foto oleh <a
                        href="https://phil.cdc.gov/Details.aspx?pid=21340" class="underline" target="_blank">CDC/ Arnold
                        Kaufman</a> di <a href="https://phil.cdc.gov/default.aspx" class="underline"
                        target="_blank">Public Health Image
                        Library (PHIL)</a>
                </p>
            </div>

            <p class="font-bold">REFERENSI:</p>
            <p>- Mar’Iyah, K. (2021). Patofisiologi penyakit infeksi tuberkulosis.</p>
            <p>- Tjengal, B., Alifia, A., & Intan, N. S. (2019). Advertorial KIT DIAGNOSTIK DIFTERI BERBASIS
                HIBRIDISASI
                DNA.</p>
            <p>- Muliawan H., A., & Yuliyani, E. A. (2023). KAJIAN PUSTAKA: DIAGNOSIS DAN TATALAKSANA FARINGITIS.
                Jurnal
                Ilmu Kedokteran dan Kesehatan, 10(10), 2924–2932. https://doi.org/10.33024/jikk.v10i10.12193</p>
            <p>- Rianti, E. D. D., Tania, P. O. A., & Listyawati, A. F. (2022). KUAT MEDAN LISTRIK AC DALAM MENGHAMBAT.
            </p>
            <p>- Muthmainnah, M., Hatta, M., Massi, Muh. N., Hamid, F., Djaharuddin, I., Ferial, E. W., Zainuddin, A.
                A.,
                & Sari, M. H. (2020). Deteksi gen pneumolysin (ply) Streptococcus pneumoniae pada Sampel Klinis Usia
                Lanjut secara Kultur dan PCR. Jurnal Riset Kesehatan Poltekkes Depkes Bandung, 12(1), 122–126.
                https://doi.org/10.34011/juriskesbdg.v12i1.850</p>
            <br>
        </div>
    </div>

    <script>
        var loadingScreen = document.querySelector(".loadingScreen");

        window.addEventListener('load', function () {
            loadingScreen.style.display = 'none';
        })

        function showVideo(index) {
            const videos = document.querySelectorAll('.video');
            const texts = document.querySelectorAll('[id^="text"]');
            const buttons = document.querySelectorAll('button');

            videos.forEach(video => video.classList.add('hidden'));
            texts.forEach(text => text.classList.add('hidden'));
            buttons.forEach(button => button.classList.remove('active-btn'));

            document.getElementById(`video${index}`).classList.remove('hidden');
            document.getElementById(`text${index}`).classList.remove('hidden');
            buttons[index - 0].classList.add('active-btn');
        }

        showVideo(1);
    </script>
</body>

</html>